<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Facture</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Products</ion-card-title>
        <ion-card-subtitle>Choose:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://victoriassecretbeautyco.vteximg.com.br/arquivos/ids/175361-380-506/11210496103E_OM_F.jpg?v=638132950402530000" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://victoriassecretbeautycr.vteximg.com.br/arquivos/ids/172809-380-506/11191921001C_OM_F.jpg?v=638030941128630000" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/I/81rNeQRBigL.jpg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/I/81WN5UjKZIL._AC_UL1500_.jpg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
